#page-landing {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--color-text-in-primary);
    background: var(--color-primary);
}

.logo-conteiner img {
    height: 10rem;
}

.hero-image {
    width: 100%;
}

.logo-conteiner {
    text-align: center;
    margin-bottom: 3.2rem;
}

.logo-conteiner h2 {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 4.6rem;
    margin-top: 0.8rem;
}
.buttons-conteiner {
    display: flex;
    justify-content: center;
    margin: 3.2rem 0;
}

.buttons-conteiner a{
    width: 30rem;
    height: 10.4rem;
    border-radius: 0.8rem;
    font: 700 2.0rem Ubuntu;

    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--color-button-text);


    transition: background 0.2s;
}
.buttons-conteiner a:first-child{
    margin-right: 1.6rem;
}
.buttons-conteiner a img {
    width: 4rem;
}
.buttons-conteiner a.study {
    background: var(--color-primary-lighter);
}
.buttons-conteiner a.give-classes {
    background: var(--color-secundary);
}
.buttons-conteiner a:hover {
    opacity: 0.8;
}


.total-connections {
    font-size: 1.4rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.total-connections img {
    margin-left: 0.8rem;
}

.buttons-conteiner a img {
    margin-right: 2.4rem;
}
@media (min-width: 1100px){
    #page-landing-content {
        max-width: 1100px;

        display: grid;
        grid-template-rows: 350px 1fr;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-areas: 
        "logo hero hero"
        "buttons buttons total"
        ;
    }
    .logo-conteiner {
        grid-area: logo;
        align-self: center;
        margin: 0;
    }
    .logo-conteiner h2 {
        text-align: initial;
        font-size: 3.6rem;
    }
    .logo-conteiner img {
        height: 100%;
        text-align: left;
    }

    .hero-image {
        grid-area: hero;
        justify-self: end;
    }
    .buttons-conteiner{
        grid-area: buttons;
        justify-content: flex-start;
    }
    .buttons-conteiner a {
        font-size: 2.4rem;
    }
    .total-connections{
        grid-area: total;
        justify-self: end;
    }
}